# Conditional
- == equal
- != not equal
- .>= lebih besar/=
- <= lebih kecil/=
- is = object identity

In [12]:
x=0
y=5

if x<5:
    print('yes')
    
if x>5:
    print('yes')
    
if 'il' in 'dila':
    print('yes')

if 'apel' in ['jeruk','nanas','pir']:
    print('yes')

yes
yes

In [21]:
language = 'D'

if language == 'python':
    print('language is python')

elif language == 'java':
    print('language is java')
    
elif language == 'C':
    print('language is C')

else:
    print('no match')

no match

In [32]:
user = 'admin'
logged_in = False

if user == 'admin' and logged_in:
    print('admin page')
else:
    print('bad creds')
    
if not logged_in:
    print('please log in')
else:
    print('welcome')

bad creds
please log in

In [44]:
a = [1,2,3]
b = a

print(id(a))
print(id(b))
print(a == b)

4392908224
4392908224
True

In [47]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('expressing was true')
    print('executing statement is suite')
    print('...')
    print('done.')

print('after conditional')

after conditional

In [70]:
harga_buku = 2000
harga_pensil = 5000
uang = 10000

if uang > harga_buku:
    print('beli buku')
    
if uang > harga_pensil:
    print('beli pensil')
    
if uang < harga_buku and harga_pensil:
    print('uang tidak cukup')

beli buku
beli pensil

In [78]:
harga_buku = 2000
harga_pensil = 5000
uang = 10000

if uang > harga_buku:
    print('beli buku')
elif uang > harga_pensil:
    print('beli pensil')
else:
    print('uang tidak cukup')

beli buku

In [84]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("this won't happen")
elif var:
    print("this won't either")

foo

In [87]:
x = 5
if x == 1: print ('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux') 
else: print('corge'); print('grault')

corge
grault

In [89]:
raining = True
print('lets go tp the', 'beach' if not raining else 'library')

lets go tp the library

In [93]:
age = 12
s = 'teen' if age < 21 else 'adult'
print(s)

teen

In [94]:
'yes' if ('qux' in ['bar', 'baz']) else 'no'

'no'

In [96]:
if a>b:
    m=a
else:
    m=b

In [98]:
m = a if a>b else b

In [105]:
#conditional and looping

nama = 'dila'
if nama == "dinda":
    print('selamat malam dinda')
else:
    print('bukan dinda')

bukan dinda

In [107]:
#falsy

message = ''
if message:
    print('messagenya True')
    print(message)
else:
    print('messagenya False')

messagenya False

In [109]:
nama = 'andika'
umur = 18

#kalau nama andika dan umur diatas 17 boleh ambil ktp
if (nama == 'andika' and umur >17):
    print('boleh ambil KTP')
    
else:
    print('tunggu lain waktu untuk ambil KTP')

boleh ambil KTP

In [110]:
nama = 'dinda'
umur = 18

#kalau nama andika dan umur diatas 17 boleh ambil ktp
if (nama == 'andika' and umur >17):
    print('boleh ambil KTP')
    
else:
    print('tunggu lain waktu untuk ambil KTP')

tunggu lain waktu untuk ambil KTP

In [113]:
nama = 'andika'
umur = 18

#kalau nama andika ATAU umur diatas 17 boleh beli makanan
if (nama == 'andika' or umur >17):
    print('boleh beli makanan')
    
else:
    print('tidak boleh')

boleh beli makanan

In [118]:
nama = 'dinda'
umur = 18

#kalau nama andika ATAU umur diatas 17 boleh beli makanan
if (nama == 'andika' or umur >17):
    print('boleh beli makanan')
    
else:
    print('tidak boleh')

boleh beli makanan

memberi grade ke nilai ujian
- 100 = A
- 90+ = B
- 80+ = C
- sisanya D

In [130]:
nilai = 101
if (nilai > 100 or nilai < 0):
    print('nilai invalid')
elif nilai == 100:
    print('nilai A')
elif nilai > 90:
    print('nilai B')
elif nilai > 80:
    print('nilai C')
else:
    print('nilai D')

nilai invalid

In [137]:
#dapat grade berapa dan apa dapat sertif kelulusan. misal grade tergantung nilai dan sertif tergantung absen

nilai = 90
absen = 8

#min nilai 70 dan absen 5x untuk dapat sertif

if (nilai > 100 or nilai < 0):
    print('nilai invalid')
elif nilai == 100:
    print('nilai A')
    if(nilai > 70 and absen > 5):
        print('dapat sertif')
    else:
        print('tidak dapat setif')
elif nilai > 90:
    print('nilai B')
    if (nilai > 70 and absen > 5):
        print('dapat sertif')
    else:
        print('tidak dapat setif')
elif nilai > 80:
    print('nilai C')
    if (nilai > 70 and absen > 5):
        print('dapat sertif')
    else:
        print('tidak dapat setif')
else:
    print('nilai D')
    if (nilai > 70 and absen > 5):
        print('dapat sertif')
    else:
        print('tidak dapat setif')

nilai C
dapat sertif

In [143]:
nama = 'andi'
print("welcome" if nama == 'andika' else 'bye',nama)

# true taruh kiri, false kanan

bye andi

In [147]:
nama = "andika"
if not (nama == 'andika'):
    print('welcome',nama)
else:
    print('bye',nama)

bye andika

In [148]:
umur = 20

if (umur > 21):
    pass
else:
    print('belum cukup umur')

belum cukup umur

# loop

In [164]:
# while loop

umur = 15

while (umur < 21):
    print('masih umur', umur)
    print('umur belum cukup untuk beli alkohol')
    umur = umur + 1
else:
    print('sudah cukup umur')

masih umur 15
umur belum cukup untuk beli alkohol
masih umur 16
umur belum cukup untuk beli alkohol
masih umur 17
umur belum cukup untuk beli alkohol
masih umur 18
umur belum cukup untuk beli alkohol
masih umur 19
umur belum cukup untuk beli alkohol
masih umur 20
umur belum cukup untuk beli alkohol
sudah cukup umur

In [160]:
# infinite loop

count = 10

while (count > 0):
    print('count', count, "masih di atas 0")
    count = count - 1

count 10 masih di atas 0
count 9 masih di atas 0
count 8 masih di atas 0
count 7 masih di atas 0
count 6 masih di atas 0
count 5 masih di atas 0
count 4 masih di atas 0
count 3 masih di atas 0
count 2 masih di atas 0
count 1 masih di atas 0

In [168]:
count = 10
while (count >0):
    count = count - 1
    if (count == 5):
        break
    print('count',count,'masih di atas 0')

count 9 masih di atas 0
count 8 masih di atas 0
count 7 masih di atas 0
count 6 masih di atas 0

In [170]:
count = 10
while (count >0):
    count = count - 1
    if (count == 5):
        continue
    print('count',count,'masih di atas 0')

count 9 masih di atas 0
count 8 masih di atas 0
count 7 masih di atas 0
count 6 masih di atas 0
count 4 masih di atas 0
count 3 masih di atas 0
count 2 masih di atas 0
count 1 masih di atas 0
count 0 masih di atas 0

In [173]:
#nested loop
#misal punya 3 kamar untuk diberesin, untuk setiap kamar disapu 5x

kamar = 3

while (kamar > 0):
    print('beresin kamar', kamar)
    sapu = 5
    while(sapu > 0):
        print('sapu ke', sapu)
        sapu = sapu - 1
        
    kamar = kamar -1

beresin kamar 3
sapu ke 5
sapu ke 4
sapu ke 3
sapu ke 2
sapu ke 1
beresin kamar 2
sapu ke 5
sapu ke 4
sapu ke 3
sapu ke 2
sapu ke 1
beresin kamar 1
sapu ke 5
sapu ke 4
sapu ke 3
sapu ke 2
sapu ke 1

In [183]:
kamar = 3

while (kamar <= 3):
    print('beresin kamar', kamar)
    sapu = 5
    while(sapu <= 5):
        print('sapu ke', sapu)
        sapu = sapu + 1
        
    kamar = kamar +1
    
# PR, buat jadi kamar 1,2,3 dan sapu 1,2,3,4,5

beresin kamar 3
sapu ke 5

In [189]:
# for loop

list_buah=["apel",'pisang','jeruk']

# untuk setiap buah, coba print 'buah ..." dengan title case

for buah in list_buah:
    print('Buah ' + buah.title())

Buah Apel
Buah Pisang
Buah Jeruk

In [193]:

andi = {'nama':'andi', 'umur':25, 'hobi':['makan','tidur','game']}

for key in andi:
    print(key,andi[key])

nama andi
umur 25
hobi ['makan', 'tidur', 'game']

In [194]:
for huruf in andi['nama']:
    print(huruf)

a
n
d
i

In [198]:
for n in range(6):
    print(n)

0
1
2
3
4
5
1
2
3
4
5

In [199]:
for n in range(1,6):
    print(n)

1
2
3
4
5

In [203]:
for n in range(0,101,30):
    print(n)

0
30
60
90

In [208]:
tuple_nilai = (70,80,90,100)
for nilai in tuple_nilai:
    print(nilai)
    
#atau
for nilai in (70,80,90,100):
    print(nilai)

70
80
90
100
70
80
90
100

# latihan

In [ ]:
while True: #infinite loop?
    msg = input('ketik:').lower()
    print('msg diterima:', msg)
    if (msg == 'stop'):
        break

ketik: halo

msg diterima: halo